[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jjroldan1
[access "refs/for/refs/*"]
	read = group user/jjroldan1
	push = group user/jjroldan1
	label-Code-Review = -2..+2 group user/jjroldan1
	label-Verified = -1..+1 group user/jjroldan1
	rebase = group user/jjroldan1
	removeReviewer = group user/jjroldan1
	submit = group user/jjroldan1
[access "refs/heads/*"]
	read = group user/jjroldan1
	create = group user/jjroldan1
	push = +force group user/jjroldan1
	pushMerge = group user/jjroldan1
[access "refs/tags/*"]
	push = group user/jjroldan1
	push = +force group user/jjroldan1
[submit]
	action = rebase if necessary
